
div.auth-frame
  div.container
    div.auth-header
      p.auth-header Login
    div.auth-form
      form(action="/login" method="POST")
        input#email(type="email", name="email", placeholder="Email")
        br
        input#password(type="password", name="password", placeholder="Passwort")
        br
        button.button(type="submit") starten
        br
    a.authchangemode(href="/register") Noch kein Konto? Hier registrieren