
div.auth-frame
  div.container
    div.auth-header
      p.auth-header Login
    div.flash-message
      - if (messages.error)
        .messages.error
          span= messages.error
    div.auth-form
      form(action="/login" method="POST")
        input#email(type="email", name="email", placeholder="Email")
        br
        input#password(type="password", name="password", placeholder="Passwort")
        br
        button.button(type="submit") starten
    div.authchangemode
      a(href="/register") Noch kein Konto? Hier registrieren