
div.auth-frame
  div.container
    div.auth-header
      p Registrieren

    div.error-message
    div.auth-form
      form(action="/register" method="POST")
        input#email(type="username", name="username", placeholder="Name")
        br
        input#email(type="email", name="email", placeholder="Email")
        br
        input#password(type="password", name="password", placeholder="Passwort")
        br   
        button.button(type="submit") starten
        br
    a.authchangemode(href="/login") Du hast schon ein Konto? Hier anmelden.