doctype html
html(lang='de')
  head
    meta(charset="UTF-8")
    title Startseite
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
  body 
    div.screen-top
      div.header
        div.header-right-menue
          a.button(href="/logout") Logout
      div.section
        h1 Hallo #{username}
        form( method="POST")
          textarea#text(name="answer", rows="6" cols='60')
          br
          button.button(type="submit") senden

    ul#messages

    script. 
      $(function () {
        var socket = io();
        $('form').submit(function(e){
          e.preventDefault(); // prevents page reloading
          socket.emit('chat message', $('#text').val());
          $('#text').val('');
          return false;
        });
        socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        });
      });




