doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    title Startseite
    link(rel="stylesheet", href="/stylesheets/main.css")
  body
 
  div.header
    a(href="/logout") Logout
  div.section
    if(authmode == 'register') 
      include ../authentication/view/register
    else
      include ../authentication/view/login
