doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    title test
  body
    p Das ist die Result seite und das ist eine neue0
    form(action="/login" method="POST")
    div.from-group
      label(for="email") Email:
      input#email(type="email", name="email")
    div.form-group
      label(for="password") Password:
      input#password(type="password", name="password")
    input(type="submit" value='starten')