doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    title test
  body
    img(src="././img/interview_preview.jpeg", alt="interview")
    p Das ist die Result seite und das ist eine neue
    P und
    p ein
    form(action="/login" method="POST")
      label(for="email") Email:
      input#email(type="email", name="email")
      label(for="password") Password:
      input#password(type="password", name="password")
      button(type="submit") starten