doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    title Startseite
    link(rel="stylesheet", href="/stylesheets/main.css")
  body
  div.screen-top
    div.header-title
      p Teste deine Fähigkeiten im Gespräch
    div.login-form
      form(action="/login" method="POST")
        label(for="email") Email:
        input#email(type="email", name="email")
        label(for="password") Password:
        input#password(type="password", name="password")
        button(type="submit") starten