.screen-top {
  background-image: url("/img/interview_preview");
  padding-bottom: 80px; }

.header-title {
  font-size: 40px;
  color: bisque;
}

input.login-forms {
  background: white;
  border-color: #845ac7; }
